footer {
  background: #BB7F40;

  .footerMenu {

    ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding: 60px 85px 20px 85px;
      list-style-type: none;
      color: white;
    }
  }

  .corporation {
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    padding:10px 0 50px 0;
  }
}

